:root {
  --rounded-m: 10px;
}


.img-rounded {
  border-radius: var(--rounded-m);
}

.masonry {
  column-count: 3;
  column-gap: 0.5rem;
  width: 100%;
}

.masonry__block {
  display: inline-block;
  margin-bottom: 0.25rem;
  width: 100%;
}

.masonry__block:nth-child(3n + 1) {
  order: 1;
}

.masonry__block:nth-child(3n + 2) {
  order: 2;
}

.masonry__block:nth-child(3n) {
  order: 3;
}

.masonry__block img {
  width: 100%;
  height: auto;
}

/*Убрать полосу прокрутки для всей страницы*/
::-webkit-scrollbar {
  width: 0.5rem;
  background-color: #1DB954;

}

::-webkit-scrollbar-thumb {
  background-color: #1DB954;
}